:root {
    --anchor: 5px;
}

.main-cont {
    height: 600px;
    background-color: var(--bs-gray-400);
    display: flex;
    border-radius: 0 0 10px 10px;
}

.column-anchor {
    display: flex;
    background-color: var(--bs-blue);
    width: 95%;
    height: var(--anchor);
    margin: 10px auto;
    justify-content: space-evenly;
    border: 1px solid var(--bs-gray-800)
}

.cols {
    margin-top: var(--anchor);
    width: 10px;
    border: 1px solid black;
    background-color: var(--bs-red);
}



#btn-sort {
    background-color: var(--bs-red);
    width: 100px;
    font-weight: bold;
    color: var(--bs-light);
    border: 2px solid var(--bs-gray-700);
    border-radius: 10px;
    margin-left: 3px;
}

#btn-sort:hover, #btn-generate:hover {
    filter: opacity(100%);
}


#btn-sort:active, #btn-generate:active {
    filter: contrast(200%);
}

#btn-generate {
    background-color: var(--bs-teal);
    margin-right: 5px;
    font-weight: bold;
    color: var(--bs-light);
    border-radius: 10px;
}

#delay {
    width: 70px;
    height: 80%;
    margin: auto 5px;
    background-color: var(--bs-gray-400);
    border-radius: 10px;
    text-align: center;
    font-size: small;
    padding: .125rem 0.25rem;
    
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    font-size: 0.7rem;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--bs-blue);
    color: var(--bs-light);
    filter: opacity(30%);
}

.btn-activated {
    color:var(--bs-light);
    background-color: var(--bs-blue);
    font-weight: 700;
}

.btn-activated:hover {
    color:var(--bs-light);
    background-color: var(--bs-blue);
    filter: opacity(100%);
}

.btn:focus {
    box-shadow: none;
}


#btn-reset {
    background-color: var(--bs-yellow);
    border-radius: 10px;
}
#btn-reset:hover {
    color: var(--bs-light);
    filter: opacity(100%);
}

#btn-reset:active {
    filter: contrast(150%);
    transition: 0ms;
}