:root {
    --anchor: 5px;
}

.main-cont {
    height: 600px;
    background-color:lightblue;
    display: flex;
}

.column-anchor {
    display: flex;
    background-color: blue;
    width: 90%;
    height: var(--anchor);
    margin: 10px auto;
    justify-content: space-evenly;
}

.cols {
    margin-top: var(--anchor);
    width: 10px;
    border: 1px solid black;
    background-color: tomato;
}

.btn-activated {
    color:gray;
    background-color: cyan;
}

#btn-sort {
    background-color: tomato;
    width: 100px;
    font-weight: bold;
}

#btn-generate {
    background-color: lightgreen;
    margin-right: 5px;
}

#delay {
    width: 100px;
    height: 70%;
    margin: auto 5px;
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
    
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}